.simply-countdown {
  overflow: hidden;
  display: table;
  margin: auto;
}
.simply-countdown > .simply-section {
  width: 50px;
  height: 10px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin: 10px;
  background: #000000a9;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.356), 0 1px 2px rgb(255, 255, 255);
  border-radius: 50%;
  margin-bottom: 12%;
}
.simply-countdown > .simply-section .simply-amount,
.simply-countdown > .simply-section .simply-word {
  display: block;
  text-align: center;
  color: white;
}

.simply-countdown > .simply-section .simply-amount {
  font-family: "Lucida Sans";
  font-size: 1.6rem;
  color: rgb(255, 255, 255);
}
